.App {
  display: flex;
  justify-content: center;
}

form fieldset {
  border: none;
}

form input {
  width: 100%;
  padding: 3%;
}

form button {
  background-color: #00796b;
  color: white;
  padding: 2%;
  border-radius: 10px;
  font-size: 18px;
  border: none;
}
.legend {
  background-color: #afeeee;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.cursor {
  cursor: pointer;
}
